<!DOCTYPE html>
<html
th:replace="~{adminlte3 :: layout(~{::title}, ~{::main}, _, ~{::scripts})}"
>
<head>
  <title>Cadastro de Serviço</title>
</head>
<body>
  <main>
    <div class="row">
      <div class="col">
        <div class="card card-primary">
          <div class="card-header">
            <div class="card-title">Cadastro de Serviço</div>
          </div>

          <div class="card-body">
            <form method="post" th:object="${servicoForm}">
              <div class="row">
                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" th:field="*{nome}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('nome')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="form-group">
                    <label for="valorMinimo">Valor mínimo</label>
                    <input type="text" class="form-control money" th:field="*{valorMinimo}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('valorMinimo')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="qtdeHoras">Total estimado de horas</label>
                    <input type="number" class="form-control" th:field="*{qtdeHoras}"/>
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('qtdeHoras')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="comissao">Comissão</label>
                    <input type="text" class="form-control money" th:field="*{comissao}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('comissao')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="horasQuarto">Tempo Quarto</label>
                    <input type="number" class="form-control" th:field="*{horasQuarto}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('horasQuarto')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="valorQuarto">Valor</label>
                    <input type="text" class="form-control money" th:field="*{valorQuarto}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('valorQuarto')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="horasSala">Tempo Sala</label>
                    <input type="number" class="form-control" th:field="*{horasSala}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('horasSala')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="valorSala">Valor</label>
                    <input type="text" class="form-control money" th:field="*{valorSala}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('valorSala')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="horasBanheiro">Tempo Banheiro</label>
                    <input type="number" class="form-control" th:field="*{horasBanheiro}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('horasBanheiro')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="valorBanheiro">Valor</label>
                    <input type="text" class="form-control money" th:field="*{valorBanheiro}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('valorBanheiro')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="horasCozinha">Tempo Cozinha</label>
                    <input type="number" class="form-control" th:field="*{horasCozinha}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('horasCozinha')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="valorCozinha">Valor</label>
                    <input type="text" class="form-control money" th:field="*{valorCozinha}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('valorCozinha')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="horasQuintal">Tempo Quintal</label>
                    <input type="number" class="form-control" th:field="*{horasQuintal}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('horasQuintal')}"
                      th:text="${erro}"
                      ></li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="valorQuintal">Valor</label>
                    <input type="text" class="form-control money" th:field="*{valorQuintal}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('valorQuintal')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="horasOutros">Tempo Outros</label>
                    <input type="number" class="form-control" th:field="*{horasOutros}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('horasOutros')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="valorOutros">Valor</label>
                    <input type="text" class="form-control money" th:field="*{valorOutros}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('valorOutros')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="icone">Ícone</label>
                    <select class="form-control" th:field="*{icone}">
                      <option value="0"></option>
                      <option 
                        th:each="icone : ${icones}" th:text="${icone.nome}" th:value="${icone}">
                      </option>
                    </select>
                  </div>
                </div>

                <div class="col-md-3 col-sm-12">
                  <div class="form-group">
                    <label for="posicao">Posição</label>
                    <input type="number" class="form-control" th:field="*{posicao}" />
                    <ul>
                      <li class="text-danger" th:each="erro : ${#fields.errors('posicao')}"
                        th:text="${erro}">
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <input type="submit" value="Salvar" class="btn btn-primary" />
              <a href="/admin/servicos" class="btn btn-default">Voltar</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
  <th:block th:fragment="scripts">
    <script th:src="@{/webjars/jquery-mask-plugin/dist/jquery.mask.min.js}"></script>
    <script>
      $(document).ready(function () {
        $(".money").mask("#.##0,00", { reverse: true });
      });
    </script>
  </th:block>
</body>
</html>
